@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row d-flex">
    <div class="col-md-6 d-flex">
        <div class="img d-flex align-self-stretch align-items-center js-fullheight" style="height: 673px;">
            <img src="~/asd.png" />
        </div>
    </div>
    <div class="col-md-6 d-flex align-items-center">
        <div class="text px-4 pt-5 pt-md-0 px-md-4 pr-md-5 ftco-animate fadeInUp ftco-animated">
            <h2 class="mb-4">Ben <span style="color:#1eafed; font-family:'Poppins', Arial, sans-serif">Emre YILDIZ</span></h2>
            <p>BURASI HAKKIMDA</p>
        </div>
    </div>
</div>